<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meenal Phartiyal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="../Styles/navbar-style.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a class="to_home" href="../index.html">
                <div style="height: 100px; width: 100px;">
                    <img src="../Assets/Images/me-1.png" alt="Meenal Phartiyal" style="width: 100%;">
                </div>
                <h2><strong>HEY THERE</strong></h2>
            </a>
        </div>
        <input type="checkbox" id="drop-menu" />
        <label for="drop-menu" class="icon" onclick="changeColor()">
            <i class="fa fa-bars"></i>
        </label>
        <ul>
            <li><a class="option" href="#about-me">About Me</a></li>
            <li><a class="option" href="#my-education">Education</a></li>
            <li><a class="option" href="#my-skills" >Skills</a></li>
            <li><a class="option" href="#my-projects">Projects</a></li>
            <li><a class="option" href="#contact-me">Contact</a></li>
        </ul>
    </nav>

    <script src="../Scripts/navbar-script.js"></script>
</body>

</html>